body {
  background-image: linear-gradient(rgb(255 255 255 / 31%), rgb(0 0 0 / 21%)), url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* MAIN BODY */
h1 {
  font-size: 5rem;
    text-align: left;
    color: #f4f4ff;
    font-family: monospace;
}

@keyframes fontchange {
  0% {
    color: red;
  }

  33% {
    color: red;
  }

  66% {
    color: black
  }

  100% {
    color: red
  }
}

.heading {
  float: left;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
}

/* IMAGE_GALLAREY */
.container_image_gallery {
  position: relative;
  width: 100%;
  background-color: #d2ffff54;
}

.image-g {
  display: block;
  vertical-align: center;
}

.image-g img {
  height: 60vh;
  border-radius: 20px;
  width: 65%;
  left: 17.5%;
  transition:ease 1s;
  position: relative;
}body {
  background-image: linear-gradient(rgb(255 255 255 / 31%), rgb(0 0 0 / 21%)), url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* MAIN BODY */
h1 {
  font-size: 5rem;
    text-align: left;
    color: #f4f4ff;
    font-family: monospace;
}

@keyframes fontchange {
  0% {
    color: red;
  }

  33% {
    color: red;
  }

  66% {
    color: black
  }

  100% {
    color: red
  }
}

.heading {
  float: left;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
}

/* IMAGE_GALLAREY */
.container_image_gallery {
  position: relative;
  width: 100%;
  background-color: #d2ffff54;
}

.image-g {
  display: block;
  vertical-align: center;
}

.image-g img {
  height: 60vh;
  border-radius: 20px;
  width: 65%;
  left: 17.5%;
  transition:ease 1s;
  position: relative;
}

.fade-in{
  opacity: 1;
}
.fade-out{
  opacity: 0;
}
.prev, .next {
  position: absolute;
  top: 45%;
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  user-select: none;
  cursor: pointer;
}

.next {
  left: 94%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 2%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: black;
}

.content {
  display: grid;
  justify-items: center;
  margin-top: 15vh;
}
/* PROMOTIO NAL CARDS */
.promocard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 6rem;
  padding: 2rem;
  z-index: 1;
  margin-top: -5px;
}

.promotional_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-radius: 5px;
  background-color: #222144b5;
}

.promotional_card:hover {
  box-shadow: 2px 8px 20px 10px black;
  background-color: #1a1936f0;
}

.promotional_card img {
  border-radius: 5px 5px 0 0;
  height: 35vh;
}

.promotional_card_container {
  padding: 15px 48px;
}

.promotional_card_Name {
  font-size: 15px;
  color: white;
  font-family: cursive;
}

.promotional_card_text {
    font-size: 25px;
    color: white;
    font-style: italic;
    font-family: monospace
}

.heading_2 {
  font-size: 100px;
  color: darkslateblue;
  text-align: center;
  width: 100%;
  text-shadow: 4px 5px 6px #0b012b;
  font-family: algerian;
}

.text_2 {
  font-size: 40px;
  padding-left: 33px;
}

.why_us {
  width: 100%;
  background-color: #ffffffba;
  height: 100%;
  margin-bottom: 0px;
}

.list li {
  color: #01015f;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}


.show {
  display: block;
  color: #1331b7;
  font-size: 3.5vh;
  padding-bottom: 40px;
}

.down {
  float: right;
  font-size: 50px;
}

.show img {
  float: right;
  width: 350px;
  height: 200px;
  padding-right: 20px;
  padding-left: 20px;
}
 .heading{
   font-size: 40px;
    float: right;
    padding-right: 150px;
    color: white;
 }


.a {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
.prev, .next {
  position: absolute;
  top: 45%;
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  user-select: none;
  cursor: pointer;
}

.next {
  left: 94%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 2%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: black;
}

.content {
  display: grid;
  justify-items: center;
  margin-top: 15vh;
}
/* PROMOTIO NAL CARDS */
.promocard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 6rem;
  padding: 2rem;
  z-index: 1;
  margin-top: -5px;
}

.promotional_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-radius: 5px;
  background-color: #222144b5;
}

.promotional_card:hover {
  box-shadow: 2px 8px 20px 10px black;
  background-color: #1a1936f0;
}

.promotional_card img {
  border-radius: 5px 5px 0 0;
  height: 35vh;
}

.promotional_card_container {
  padding: 15px 48px;
}

.promotional_card_Name {
  font-size: 15px;
  color: white;
  font-family: cursive;
}

.promotional_card_text {
    font-size: 25px;
    color: white;
    font-style: italic;
    font-family: monospace
}

.heading_2 {
  font-size: 100px;
  color: darkslateblue;
  text-align: center;
  width: 100%;
  text-shadow: 4px 5px 6px #0b012b;
  font-family: algerian;
}

.text_2 {
  font-size: 40px;
  padding-left: 33px;
}

.why_us {
  width: 100%;
  background-color: #ffffffba;
  height: 100%;
  margin-bottom: 0px;
}

.list li {
  color: #01015f;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}


.show {
  display: block;
  color: #1331b7;
  font-size: 3.5vh;
  padding-bottom: 40px;
}

.down {
  float: right;
  font-size: 50px;
}

.show img {
  float: right;
  width: 350px;
  height: 200px;
  padding-right: 20px;
  padding-left: 20px;
}
 .heading{
   font-size: 40px;
    float: right;
    padding-right: 150px;
    color: white;
 }
